<!DOCTYPE html>
 <link lang="en" xmlns="http://www.w3.org/1999/xhtml">
       <!--//xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="UTF-8"/>
   <title>Title</title>



 </head>
<link  href="css/bootstrap.css"  rel="stylesheet"/>
<link  href="css/bootstrap-table.min.css"  rel="stylesheet"/>
<!-- Bootstrap Validator 样式文件 -->
<link href="http://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" />

<link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table-zh-CN.min.js"></script>
<!-- Bootstrap Validator JS文件 -->
<script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
<!--<div th:insert="~{source :: cssFiles}"></div>
<div th:insert="~{source :: jsFiles}"></div>-->
<style>
    .input-group{
        margin-bottom: 30px;
    }
</style>
<div class="jumbotron">
<div class="container">
    <div style="padding:5px;border-radius: 5px;">
    <form id="searchForm">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">名称<i class="icon-th"></i></span>
                <input type="text" class="form-control" name="name" id="nam"/>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">产品名称<i class="icon-th"></i></span>
                <select class="form-control selectpicker" name="pcdCode" id="pcdCode"></select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">进件日期<i class="icon-th"></i></span>
                <input type="date" class="form-control" name="firstDate" id="firstDate"/>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">规则名称<i class="icon-th"></i></span>
                <select class="form-control selectpicker" name="reason" id="reason"></select>
            </div>
        </div>
    </form>

        <div class="row">
            <div class="col-md-4 col-md-offset-5" style="letter-spacing: 20px;margin-top:10px;">
                <button class="btn btn-danger" onclick="search();">查询</button>
                <button class="btn btn-info">导出</button>
                <button class="btn btn-warning" onclick="reset();">重置</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container" style="margin-top:20px;">
    当前位置:<a href="#">主页>></a>名单管理>><a href="#">名单维护</a>
</div>
<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addModel">
            <span class="glyphicon glyphicon-plus"></span>
            添加名单
        </button>
    </div>
    <table id="table" style="width:100%"></table>
</div>
    <div id="addModel"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">
                        <span style="font-weight: bold">添加名单</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form style="align-self:center;align-content:center;" id="defaultForm">
                        <div class="form-group">
                            <span class="form-group-addon"  style="width:100px;"><i class="icon-th">用户名</i></span>
                            <input type="text" id="name" name="name" class="form-control" width="266px"/>
                        </div>
                        <div class="form-group">
                            <span class="form-group-addon" style="width:100px;"><i class="icon-th">年龄</i></span>
                            <input type="text" class="form-control" id="age" name="age" width="266px"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

 </body>
 <script type="text/javascript">
     function reset(){
         $("#searchForm .form-control").val("");
     }
     function search(){
      initTable();
     }
     //下拉数据加载
     var pcdCodeList = [
         {
             name:"请选择",
             value:""
         },
         {
             name:"借呗三期",
             value:"1001"
         },
         {
             name:"借呗plus",
             value:"1002"
         }
     ]
     $(function(){
         addSelect($("#pcdCode"),pcdCodeList);
         function addSelect(select,datas){
             for(var i=0;i<datas.length;i++){
                 select.append("<option value="+datas[i].value+">"+datas[i].name+"</option>");
             }
         }
     });
     $(function(){
         $.ajax({
             type:"post",
             url:"/userList",
             dataType:"JSON",
             data:{},
             async:false,
             success:function(msg){
                 $("#reason").prepend("<option value=''>请选择</option>");
                 for(var i=0;i<msg.length;i++){
                     $("#reason").append("<option value="+msg[i].age+">"+msg[i].name+"</option>");
                 }
             }
         });
     });
     $(function() {
         $("#defaultForm").bootstrapValidator({
             message: 'This value is not valid',
             feedbackIcons: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 name: {
                     validators: {
                         notEmpty: {
                             message: '用户名不能为空'
                         },
                         regexp: {
                             regexp: /^[a-zA-Z\d]+$/,
                             message: "用户名只能包含大小写字母和数字!"
                         }
                     }
                 },
                 sex: {
                     validators: {
                         notEmpty: {
                             message: '性别不能为空'
                         },
                         stringLength: {
                             min: 1,
                             max: 3,
                             message: '长度必须在1到3之间'
                         }
                     }
                 }
             }
         });
         initTable();





     });
     function initTable(){
         $('#table').bootstrapTable('destroy');
         $('#table').bootstrapTable({
             url: '/userList',
             pagination: 10,
             pageNumber: 1,
             sidePagination:"server",
             queryParamsType:'',
             pagination: true, //设置为 true 会在表格底部显示分页条。
             pageList: [1, 2, 20, 30, 50],
             striped: true,
             search: true,
             searchAlign: "right",
             toolbar: "#toolbar",
             checkboxHeader: false,
             showRefresh: true,
             //得到查询的参数
             queryParams: function (params) {
                 var temp = {
                     /*  limit: params.limit,
                       offset: (params.offset / params.limit) + 1,*/
                     pageSize: params.pageSize,//找多少条
                     pageNumber: params.pageNumber,//从数据库第几条记录开始
                     name: $("#nam").val().trim() ? $("#nam").val().trim() : null
                     // sort: params.sort,      //排序列名
                     // sortOrder: params.order //排位命令（desc，asc）
                 };
                 return temp;
             },
             columns: [
                 {
                     field: 'id',
                     title: 'id',
                     width: 100,
                 },
                 {
                     field: 'name',
                     title: '姓名',
                 },
                 {
                     field: 'age',
                     title: '年龄'
                 },
                 {
                     field: 'name',
                     title: '姓名',
                 },
                 {
                     field: 'age',
                     title: '年龄'
                 },
                 {
                     field: 'ID',
                     title: '操作',
                     width: 120,
                     align: 'center',
                     valign: 'middle',
                     formatter: actionFormatter
                 }
             ]
         });
         function actionFormatter(value, row, index) {
             var id = value;
             var result = "";
             result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";
             result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
             result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
             return result;
         }
     }
     $('#save').click(function(){
      /*  swal({
             title:"参数不能为空!",
             type:"error"
         });*/
         $('#defaultForm').data('bootstrapValidator').validate();
         if($("#defaultForm").data('bootstrapValidator').isValid()){
             var name = $("#name").val();
             var age = $('#age').val();

             var data = {
                 name:name,
                 age:age
             }
             $.ajax({
                 type:"post",
                 url:"add",
                 data:data,
                 dataType:"JSON",
                 success:function(data){
                     swal({
                         title:"用户添加成功",
                         type:"success",
                     }).then(()=>{
                         location.reload();
                     });
                 },
                 error:function(){
                     swal({
                         title:'用户添加失败:'+data.message,
                         type:'error'
                     });
                 }
             });
         }
     });
 </script>
 </html>