<!DOCTYPE html>
 <html  xmlns:th="http://www.thymeleaf.org" >
 <head>
  <meta charset="UTF-8"/>
   <title>Title</title>
   <!--  <link rel="stylesheet" href="../static/css/bootstrap.css">
     <script src="../static/js/jquery-1.7.2.min.js"></script>
     <script src="../static/js/bootstrap.js"></script>-->

 </head>
<body>
<div th:fragment="cssFiles">
    <link rel="stylesheet" href="css/bootstrap.css"/>
</div>
<div th:fragment="jsFiles">
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
</div>
 </body>
 </html>